*{
    margin: 0;
    padding: 0;
    border: 0;
}

.login{
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100%;
    justify-content: center;
    background-image: url('../img/cancha.jpg');
    background-size: 100% auto;
}



.form{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.logo{
    width: 100%;
    text-align: center;
}
img{
    width: 50%;
}
.formulario{

    display: flex;
    flex-direction: column;
    align-items: center;

}
h1{
    margin:15px;
    color: white;
    text-decoration: bold;
}
input{
    width: 100%;
    margin: 15px;
    padding: 5px;
    border-radius: 5px;
    background: rgba(0, 0, 0, .8);
    color: white;
}
button{
    margin: 15px;
     border-radius: 5px;
    width: 100%;
    padding: 10px;
    background: #071B4B;
    color: white;
    font-weight: bold;
}